body,html{
		
		margin: auto;
		
		font-family:"Trebuchet MS",Arial,sans-serif;
		font-size: 100%;
		overflow: auto;
       
   
        }

	*{
		box-sizing:border-box;
	}
	




	




       
			   
			  

			   

			    
 
